@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.custom-input-width {
    width: 500px; 
}

.custom-ul-width {
    width: 500px; 
}

.custom-li-width {
    width: 500px; 
}

.custom-placeholder::placeholder{
    font-style: italic;
    font-size: 20px;
}

.custom-button-FaX {
    margin-right: 30px;
    font-size: 15px;
    color: #8C031C;
    opacity: 30%;
}









