@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.input-container {
    position: relative;
}
.input-container svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 20%;
}
.input-container input {
    width: 480px;
    height: 50px;
    padding-left: 30px;
    border: 1px solid lightgray;
}


/* TodoItem */ 

li {
    width: 480px;
    margin: 15px 0 15px 15px;
    text-decoration: none;
    display: flex;
}








