@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

/* Definindo uma configuração de width personalizada para os elementos html <input>, <ul> e <li>*/
.custom-input-width {
    width: 502px; 
}
.custom-ul-width {
    width: 500px;
}
.custom-li-width {
    width: 500px; 
}

.custom-shadow_input {
    width: 600px;
}

/* Definindo uma configuração de width personalizada para a parte so roda-pé do elemento <ul>*/
.custom-footer-ul_line1 {
    width: 490px;
}
.custom-footer-ul_line2 {
    width: 480px;
}

/* Configurações do placeholder do input text - onde é digitado a tarefa */
.custom-placeholder::placeholder {
    font-style: italic;
    font-size: 20px;
}

/* Configurações do ícone de excluir as tarefas criadas */
.custom-button-FaX {
    margin-right: 30px;
    font-size: 15px;
    color: #8C031C;
    opacity: 30%;
}

/* Configurações do componente de Checkbox */
li input[type="checkbox"] {
    cursor: pointer; 
    appearance: none; 
    width: 30px;
    height: 30px; 
    border-radius: 50%; 
    outline: none; 
    border: 1px solid #BABBBF; 
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    opacity: 30%;
} 
li input[type="checkbox"]:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    opacity: 0;
    transition: all 600ms ease-in-out;
    
    width: 8px;
    height: 15px;
    border-right: 2px solid #207F0B;
    border-bottom: 2px solid #207F0B;
    transform: rotate(40deg);
}
li input[type="checkbox"]:checked::before {
    opacity: 1;
}

/* Configurações do Footer */
footer p {
    margin-bottom: 5px;
    font-weight: normal;
    color: #88898C;
}
footer p a {
    color: #252526;
    font-weight: 400;
}
footer p a:hover {
    text-decoration: underline;
}

