:root {
    --color-white: #fff;
    --color-lightgray: #F0F0F0;
    --color-black: #1F2024;
    --color-red: #8E1715;
}
* {
    margin: 0;
    padding: 0;
}
.main {
    background-color: var(--color-lightgray);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 5rem;
    margin-bottom: 10px;
    color: var(--color-red);
}

.input-container {
    position: relative;
}
.input-container svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.input-container input {
    width: 420px;
    height: 40px;
    padding-left: 30px;
}


/* Itens abaixo do input Todos */
.itens-information {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 350px;
    margin-top: 10px; 
    margin-bottom: 20px;
}

/* TodoList */
ul {
    background-color: var(--color-white);
    width: 450px;

    display: flex;
    align-items: self-start;
    flex-direction: column;
}

/* TodoItem */
li {
    margin: 15px 0 15px 15px;
    text-decoration: none;
    display: inline-block;
}

li.tasks-listed input  {
    margin-left: 5px;
    margin-right: 20px;
}

li.tasks-listed button {
    margin-left: 300px;
}



